#navbar {
    padding: 0 14%;
    background: #b63b4d;
}

.navdiv {
    padding: 0 0 0 0;
}

#logo {
    font-family: 'The Nautigal', cursive;
    font-size: 200%;
    color: white;
}

.btn-nav {
    width: 100px;
    height: 35px;
    background: white;
    margin: 0 0.5%;
    color: #b63b4d;
    border: none;
}

.btn-nav:hover {
    background: #ffe5eb;
}

.card :hover{
    background: #ffe5eb;
}

.image-card {
    width: 100%;
}

.btn-search {
    margin: 0 3%;
    width: 35px;
    border-radius: 50%;
}

#pageable {
    text-align: center;
}